<h1>Meteorologist</h1>

<p>Where are you?</p>

<form action="/street_to_weather">
  <div>
    <label for="the_address">Street Address</label>
    <input type="text" name="user_street_address" id="the_address">
  </div>
  <div>
    <label for="the_city">City</label>
    <input type="text" name="user_city" id="the_city">
  </div>
  <div>
    <label for="the_state">State</label>
    <input type="text" name="user_state" id="the_state">
  </div>

  <button>Tell me the weather!</button>
</form>
